*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Comfortaa;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img{
    width: 80%;
}